/*This is my 318 CONTACT PAGE using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- Hello, my name is Sage Speich and this is the beginning of my CONTACT PAGE CSS for 201 Digital Publishing November 2020 ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(images/dark_wood_background.jpg)
      center center fixed no-repeat;
    background-size: cover;
    font-family: serif;	
}

.center {
    width: 80%; /* added this to make div responsive */
	padding: 2%;
    margin: 100px auto;
	text-align: center;
}

   
#logo {
    margin-bottom: 50px;
    margin-top: 40px;
	text-align: center;
}

h1 {
	font-family: "Times New Roman";
    font-weight: 400;
    font-style: normal;
	font-size: 6em;
    margin: 10px auto 10px auto;
    color: #d9d2b0;
}

h2 {
	font-family: "helvetica";
    font-weight: 400;
    font-style: normal;
	font-size: 4em;
    line-height: 1.4;
    color: #fff;
    padding: 0px 0px;
    float: left;
    margin: 50px 50px 100px 50px;
    text-align: left;
}

p {
	font-family: "courier";
    font-weight: 400;
    font-style: normal;
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
    text-align: left;
    margin: 20px 20px 0px 20px;
}
    
nav{
    font-family: "helvetica";
    font-size: 1.2em;
    font-style: normal;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    float: bottom;
    margin-top: 1em;
    } 

nav li{
    display: inline   
    }   

nav a{
    display: inline-block;
    padding: 30px

    }

a{
    color: #d9d2b0;;
    text-decoration: none;
    font-weight: normal;
    }

a:hover{
    color: #988986;
    background:#e6fff2;
    }